.item-card {
  height: calc(75vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.75rem;
  grid-auto-rows: auto;
  background-color: var(--bg-color);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.item h3 {
  font-size: 1rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  color: var(--prim-text);
  font-size: 1.25rem;
}

.item p {
  color: var(--prim-text);
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.add-btn {
  color: var(--prim-text);
  border: solid 1.5px var(--btn-color);
}
