.products h2 {
  color: var(--prim-text);
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.products-list {
  margin: 0 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
