.header {
  width: 100%;
  height: 10vh;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-color);
}

.header h1 {
  color: white;
  font-weight: 200;
  letter-spacing: 0.25rem;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
